@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

body {
    margin:auto;
    font-family:Arial;
    box-sizing: border-box;
}

.bg{
    background-image: url(https://i.pinimg.com/originals/fe/71/ed/fe71ed6ff64fac9715c6f0635acb5e76.jpg);
}

.main-form{
    margin:10px;
    justify-content: center;
    color:rgb(255, 255, 255);
    text-align: center;
}

.left-names{
    margin: 10px;
    justify-content: left;
    color: rgb(255, 255, 255);
    text-align: left;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}